<div class="outer">


	<div class="titlewhitebkg">
	<div class="blacktopbar">

	</div>
		<div class="gradecalculator">
			<h2>Grade Calculator</h2>

			<div class="innerbkg">

				<br/>
				<h4>Activities</h4>
				<p>Give grades to the numeric activities</p>		

				
				<table id="calculator">
				<col width="200">
				<col width="200">
				<col width="200">
				<col width="200">
				<col width="200">
				<tr>
					<th>Name</th>
					<th>Short Name</th>
					<th>Weight</th>
					<th>Grade</th>
					<th>Percent</th>
				</tr>
				<tr>
					
					<td>Activity 1</td>
					<td>A1</td>
					<td><input type="input" id="w1" value=""></td>
					<td><input type="input" id="g1" value=""> / <input type="input" id="g2" value=""></td>
					<td id="pct1"> </td>
					
				</tr>
				<tr>
					
					<td>Activity 2</td>
					<td>A2</td>
					<td><input type="input" id="w2" value=""></td>
					<td><input type="input" id="g3" value=""> / <input type="input" id="g4" value=""></td>
					<td id="pct2"> </td>
				</tr>
				<tr>
					
					<td>Activity 3</td>
					<td>A3</td>
					<td><input type="input" id="w3" value=""></td>
					<td><input type="input" id="g5" value=""> / <input type="input" id="g6" value=""></td>
					<td id="pct3"> </td>
				</tr>
				<tr>
					<td>Activity 4</td>
					<td>A4</td>
					<td><input type="input" id="w4" value=""></td>
					<td><input type="input" id="g7" value=""> / <input type="input" id="g8" value=""></td>
					<td id="pct4"> </td>
				</tr>
				
				
				</table>
				<input type="Submit" id="addrowbtn" value="Add New Row">
				<input type="Submit" id="r4" value="Remove Bottom Row">
				<h4>Result</h4>
				<p id="resulttext"></p>
				
				<div class="result">

					<input type="Submit" id="weightbtn" class="styledbutton" value="WEIGHTED"> 
					<input type="Submit" id="meanbtn" class="styledbutton" value="MEAN">
					
				</div>
			</div>
			
		</div>
	
	<div class="blackbottombar">
		
	</div>
	
	</div>
	
</div>



