/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.blue-bar {
	margin: auto;
	width: 80%;
	height: 200px;
	background-color: #006699;

}

.time-bar {
	margin: auto;
	width: 50%;
	height: 200px;
	background-color: #0088cc;

}

.time-button {
	padding-top: 80px;
	padding-left: 40px;
}

body {
	background-color: #B41019;
}

.outer {
	margin: 0px 5px 15px 20px;
	width: auto;
}

.titlewhitebkg {
	height: 100%;
}

.blacktopbar {
	background-color: #3D3935;
	width: 90%;
	margin: auto;
	padding-top:20px;
	
}

.blackbottombar {
	background-color: #3D3935;
	width: 90%;
	margin: auto;
	position: relative;
	padding-bottom: 50px;
	
}

.gradecalculator {
	background-color: white;
	width: 90%;
	height: 100%;
	margin: auto;
	padding-top: 30px;
	padding-left: 30px;
	padding-bottom: 30px;
}

.innerbkg {
	background-color: #E8EEF0;
	width:1000px;
	
	
}

.gradecalculator h4 {
	margin: 0px 0px 10px 10px;
	color: #CB4746;
	text-decoration: bold;
}
.gradecalculator p {
	margin: 0px 5px 15px 10px;
}

table {
	margin: 0px 10px 15px 10px;
	border: 1px solid black;
}

#addrowbtn {
	margin: 0px 0px 20px 10px;
	background-color: #B41019;
	color: white;
}

#r4 {
	background-color: #B41019;
	color: white;
}

.styledbutton {
	margin: 0px 10px 25px 0px;
	background-color: #B41019;
	color: white;
}

th, td {
	padding: 15px;
	border: 1px solid black;
}

th {
	background-color: #D0D0D4;
}

.result {
	margin: 20px 0px 0px 10px;
	text-align: right;
}


input {
	width: auto;
}
