body {
	background-color: #B41019;
}

.outer {
	margin: 0px 5px 15px 20px;
	width: auto;
}

.blacktopbar {
	background-color: #3D3935;
	width: 90%;
	margin: auto;
	padding-top:20px;
	
}

.blackbottombar {
	background-color: #3D3935;
	width: 90%;
	margin: auto;
	position: relative;
	padding-bottom: 50px;
	
}

.gradecalculator {
	background-color: white;
	width: 90%;
	height: 100%;
	margin: auto;
	padding-top: 30px;
	padding-left: 30px;
	padding-bottom: 30px;
}

.innerbkg {
	border: 1px solid #DDE8EC;
	border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
	font-family: "Times New Roman", Times, serif;
	background-color: #E8EEF0;
	width: 1000px;
}

.gradecalculator h4 {
	margin: 0px 0px 10px 10px;
	color: #CB4746;
	text-decoration: bold;
}
.gradecalculator p {
	margin: 0px 5px 15px 10px;
}

table {
	margin: 0px 10px 15px 10px;
	border: 1px solid black;
}

table input {
	width: 60%;
	height: 35px;
}

table input.extrapadding {

}

table p {
	display: inline;
}

#addrowbtn {
	margin: 0px 10px 20px 10px;
	font-family: Sans-serif, Arial, Verdana;
	font-weight: 500;
	background-color: #B41019;
	color: white;
	border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
	border: none;
}

#r4 {
	font-family: Sans-serif, Arial, Verdana;
	font-weight: 500;
	background-color: #B41019;
	color: white;
	border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
	border: none;
}

.styledbutton {
	margin: 0px 10px 25px 0px;
	
	font-family: Sans-serif, Arial, Verdana;
	font-weight: 500;
	background-color: #B41019;
	color: white;
	border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
	border: none;
}

th, td {
	padding: 15px;
	border: 1px solid #C2C2C2;
	border-width: 1.5px;
	color: black;
}

th {
	background-color: #D0D0D4;
}

.result {
	margin: 20px 0px 0px 10px;
	text-align: right;
}


input {
	width: auto;
}

h4 {
	font-weight: bold;
}
